#skillBox {
  min-width: 240px;
  height: 50px;
  background-color: #1e1e1e;
  border-radius: 20px;
  border: 1px solid #333333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skillBox:hover {
  border: 1px solid #9c3fe7;
  cursor: pointer;
  color: #b88cdc;
}

.texto {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 550px) {
  #skillBox {
    min-width: 200px;
    height: 40px;
  }

  .texto {
    font-size: 16px;
  }
}
