#glow {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  background: radial-gradient(
    circle,
    rgba(171, 71, 188, 0.18) 0%,
    rgba(171, 71, 188, 0.14) 20%,
    rgba(171, 71, 188, 0.09) 40%,
    rgba(171, 71, 188, 0.05) 60%,
    rgba(171, 71, 188, 0.02) 72%,
    transparent 80%
  );

  filter: blur(20px);
  z-index: 0;
}
