#bodyHeader {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline: 30px;
  opacity: 0.9;
}

#leftHeader {
  display: flex;
  align-items: center;
}

#rightHeader {
  display: flex;
  gap: 25px;
}
@media (max-width: 850px) {
  #rightHeader {
    display: flex;
    flex-direction: column;
  }
}

#bottomHeader {
  width: 100%;
  height: auto;
  background-color: black;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding-left: 50px;
  padding-block: 10px;
  box-sizing: border-box;
  position: fixed;
  animation: slideDown 0.3s ease-in-out;
}

#btnMenu {
  color: white;
  font-size: 40px;
}

#btnMenu:hover {
  cursor: pointer;
  color: #ab47bc;
}

@keyframes slideDown {
  from {
    transform: translateY(-2%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

p {
  font-size: 20px;
}
