.tecno-box {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  background-color: rgb(18, 18, 18);
  border: 2px solid rgb(50, 50, 50);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  gap: 20px;
}

.tecno-box:hover {
  border: 2px solid #d0a6f3;
  color: #d0a6f3;
}

.text-tecno {
  font-size: 24px;
  font-weight: bold;
}

.top-tecno {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.bottom-tecno {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.purple-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9c3fe7;
  margin-right: 10px;
}

.object-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: gray;
}

.icon-box-tecno {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: linear-gradient(135deg, var(--color-start), var(--color-end));
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (max-width: 1000px) {
  .tecno-box {
    width: 100%;
    min-height: 250px;
    padding: 20px;
  }
}
