#body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
}

.titleMain {
  font-size: 4rem;
  font-weight: bold;

  background: linear-gradient(to left, #bb88e5, #ffffff);

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 2s ease;
}

.titleMain.animate {
  opacity: 1;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

#title {
  font-size: 3rem;
  color: #ffffff;
  background: linear-gradient(to left, #dab8f5, #ffffff);

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}

.bodyText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 28%;
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.bodyText.animate {
  opacity: 1;
  transform: translateX(0);
}

#text {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: left;
}

#skillsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.backgroundImage {
  width: 370px;
  height: 500px;
  background: #9c3fe7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.backgroundImage.animate {
  opacity: 1;
  transform: translatex(0);
}

.backgroundMiddle {
  width: 364px;
  height: 494px;
  background: #ffffff;
  border-radius: 20px;
}

.backgroundBottom {
  width: 80px;
  height: 115px;
  background: #9c3fe7;
  border-radius: 20px;
  position: absolute;
  bottom: -20px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#techName {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 5px;
}

@media (max-width: 1860px) {
  .bodyText {
    width: 29%;
  }
}

@media (max-width: 1780px) {
  #main {
    gap: 70px;
  }
  .bodyText {
    width: 45%;
  }
}

@media (max-width: 1450px) {
  .bodyText {
    width: 43%;
  }
}

@media (max-width: 1250px) {
  .bodyText {
    width: 60%;
  }
}

@media (max-width: 980px) {
  #main {
    flex-direction: column;
    gap: 30px;
  }
  .bodyText {
    width: 100%;
  }
}

@media (max-width: 670px) {
  .bodyText {
    width: 100%;
  }
}
