.body-project-box {
  width: 340px;
  min-height: 480px;
  box-sizing: border-box;
  padding-bottom: 20px;
  background-color: rgb(31, 31, 31);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid rgb(65, 65, 65);
}

.body-project-box:hover {
  border: 1px solid #a76ed9;
}

.body-project-image-box {
  width: 100%;
  height: 60%;
}

.body-project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.body-project-box:hover .body-project-image {
  object-fit: cover;
  transition: transform 0.4s ease;
  transform: scale(1.15);
}

.body-project-datas {
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding-inline: 20px;
  padding-block: 20px;

  width: 100%;
  height: 55%;

  background-color: rgb(26, 26, 26);
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
  justify-content: start;
}

.body-project-datas::before {
  content: "";
  position: absolute;
  top: -80px;
  left: 0;

  width: 100%;
  height: 80px;

  background: linear-gradient(to top, rgb(26, 26, 26), rgba(0, 0, 0, 0));
}

.body-project-title {
  color: white;
  font-size: 20px;
}

.body-project-box:hover .body-project-title {
  color: #bb98db;
}

.body-project-subtitle {
  color: gray;
  font-size: 16px;
}

.body-project-skills {
  padding-top: 5px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.body-project-links {
  display: flex;
  gap: 10px;
}

@media (max-width: 750px) {
  .body-project-box {
    width: 90%;
  }
}
