.body-footer {
  width: 100%;
  height: 260px;
  background-color: black;
  box-sizing: border-box;
  padding-inline: 100px;
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.title-footer {
  color: white;
  font-size: 18px;
}

.body-text-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.subtitle-footer {
  color: gray;
  font-size: 16px;
}

.body-title-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.body-footer-button-link {
  display: flex;
  gap: 20px;
}

.body-footer-line {
  width: 100%;
  height: 1px;
  background-color: rgb(100, 100, 100);
}

@media (max-width: 800px) {
  .body-footer-top {
    flex-direction: column;
  }
  .body-footer {
    gap: 15px;
    padding-inline: 50px;
  }
}
