#header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  animation: enterDown 1s ease;
}

#page-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes enterDown {
  0% {
    opacity: 0;
    transform: translateY(-50);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
